Series:-
===========

=> it is one-dimensional labelled array(capable of storing homogeneous data of any type(integer,string,float....)).
=>the axis labels are collectively index.
=>pandas series is nothing but a column value in excel sheet.
=>pandas series values are mutable.
=>pandas series cotain heterogeous data(internally even we store different types,treated as object type. )

              ======================================================
                            CREATING AN SERIOUS
              ======================================================
  => A series object is created by using the following syntax.
  
              --------------------------------------------------------
                SYNTAX:= var_name=pd.Series(object,index,dtype)
              --------------------------------------------------------
              
  => here var_name is an object of <class pandas.core.series.Series>
    
  => here object is may be list or tuple or dict,ndarray....etc.
    
  => index is represents position of values present series object.it takes          default from "0" to "n-1".
    
  => dtype is data type(int32,int64,float32,float64.....).

object as list:=
==========

In [3]:
import pandas as pd
fruits=pd.Series(["apple","mango","banana","grapes"])
print(type(fruits))

<class 'pandas.core.series.Series'>

In [7]:
print(fruits) #here 0,1,2,3 are default indexes

0     apple
1     mango
2    banana
3    grapes
dtype: object

In [10]:
print(fruits[0])

apple

In [13]:
print(fruits[::-1])

3    grapes
2    banana
1     mango
0     apple
dtype: object

In [15]:
books=pd.Series(["c","cpp","python","java"],index=["book1","book2","book3","book4"])
print(books)

book1         c
book2       cpp
book3    python
book4      java
dtype: object

object as nd-array:=
==========

In [16]:
import numpy as np
array=np.array([10,20,30,40,50,60,70,80,90,100])
array_to_series=pd.Series(array)
print(array)

[ 10  20  30  40  50  60  70  80  90 100]

In [18]:
print(array_to_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [19]:
dict1={100:"apple",2:"banana",3:"grapes"}
series=pd.Series(dict1)
print(series)

1     apple
2    banana
3    grapes
dtype: object